*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    min-width: 100vw;
    min-height: 100vh;
    background-color: green;
}




/* //////////////overlay///////////////// */

.login{
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
}
.login__playerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;    
    width:100%;
    max-height: 70vh;
    background-color: red;
    overflow: hidden;
}
.login__playerCard{
    
    text-align: center;
    cursor: pointer;
}
.clicked{
    background-color: green;
    
}
.playerDefaultImg{
    max-height: 65%;
}






/* //////////////overlay///////////////// */